@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
    background-image: radial-gradient(#e5e0d8 1px, transparent 1px);
    background-size: 24px 24px;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-bold;
  }
}
