name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test-backend:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable
    - name: Rust Cache
      uses: Swatinem/rust-cache@v2
      with:
        workspaces: src-tauri
    - name: Install Dependencies (Linux)
      run: |
        sudo apt-get update
        sudo apt-get install -y libwebkit2gtk-4.1-dev build-essential curl wget file libssl-dev libgtk-3-dev libayatana-appindicator3-dev librsvg2-dev
    - name: Run Tests
      working-directory: src-tauri
      run: cargo test

  lint-backend:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        components: clippy, rustfmt
    - name: Rust Cache
      uses: Swatinem/rust-cache@v2
      with:
        workspaces: src-tauri
    - name: Install Dependencies (Linux)
      run: |
        sudo apt-get update
        sudo apt-get install -y libwebkit2gtk-4.1-dev build-essential curl wget file libssl-dev libgtk-3-dev libayatana-appindicator3-dev librsvg2-dev
    - name: Check Formatting
      working-directory: src-tauri
      run: cargo fmt --check
    - name: Clippy
      working-directory: src-tauri
      run: RUSTFLAGS="-A unused" cargo clippy -- -D warnings

  build-frontend:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: 'npm'
    - name: Install Dependencies
      working-directory: src
      run: npm install
    - name: Lint Frontend
      working-directory: src
      run: npm run lint
    - name: Build Frontend
      working-directory: src
      run: npm run build
    - name: Run Tests
      working-directory: src
      run: npm run test
